rng/mathml4-presentation.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
        This is the Mathematical Markup Language (MathML) 4.0, an XML
        application for describing mathematical notation and capturing
        both its structure and content.
    
        Copyright 1998-2022 W3C (MIT, ERCIM, Keio, Beihang)
    
        Use and distribution of this code are permitted under the terms
        W3C Software Notice and License
        http://www.w3.org/Consortium/Legal/2002/copyright-software-20021231
  -->
  <include href="mathml4-core.rng">
    <a:documentation>MathML Core</a:documentation>
  </include>
  <define name="MathExpression" combine="choice">
    <ref name="PresentationExpression"/>
  </define>
  <define name="TableRowExpression" combine="choice">
    <ref name="mlabeledtr"/>
  </define>
  <define name="MstackExpression">
    <choice>
      <ref name="MathExpression"/>
      <ref name="mscarries"/>
      <ref name="msline"/>
      <ref name="msrow"/>
      <ref name="msgroup"/>
    </choice>
  </define>
  <define name="MsrowExpression">
    <choice>
      <ref name="MathExpression"/>
      <ref name="none"/>
    </choice>
  </define>
  <define name="linestyle">
    <choice>
      <value>none</value>
      <value>solid</value>
      <value>dashed</value>
    </choice>
  </define>
  <define name="verticalalign">
    <choice>
      <value>top</value>
      <value>bottom</value>
      <value>center</value>
      <value>baseline</value>
      <value>axis</value>
    </choice>
  </define>
  <define name="columnalignstyle">
    <choice>
      <value>left</value>
      <value>center</value>
      <value>right</value>
    </choice>
  </define>
  <define name="notationstyle">
    <choice>
      <value>longdiv</value>
      <value>actuarial</value>
      <value>radical</value>
      <value>box</value>
      <value>roundedbox</value>
      <value>circle</value>
      <value>left</value>
      <value>right</value>
      <value>top</value>
      <value>bottom</value>
      <value>updiagonalstrike</value>
      <value>downdiagonalstrike</value>
      <value>verticalstrike</value>
      <value>horizontalstrike</value>
      <value>madruwb</value>
    </choice>
  </define>
  <define name="idref">
    <text/>
  </define>
  <define name="unsigned-integer">
    <data type="unsignedLong"/>
  </define>
  <define name="integer">
    <data type="integer"/>
  </define>
  <define name="number">
    <data type="decimal"/>
  </define>
  <define name="character">
    <data type="string">
      <param name="pattern">\s*\S\s*</param>
    </data>
  </define>
  <define name="group-alignment">
    <choice>
      <value>left</value>
      <value>center</value>
      <value>right</value>
      <value>decimalpoint</value>
    </choice>
  </define>
  <define name="group-alignment-list">
    <list>
      <oneOrMore>
        <ref name="group-alignment"/>
      </oneOrMore>
    </list>
  </define>
  <define name="group-alignment-list-list">
    <data type="string">
      <param name="pattern">(\s*\{\s*(left|center|right|decimalpoint)(\s+(left|center|right|decimalpoint))*\})*\s*</param>
    </data>
  </define>
  <define name="positive-integer">
    <data type="positiveInteger"/>
  </define>
  <define name="token.content" combine="choice">
    <choice>
      <ref name="mglyph"/>
      <ref name="malignmark"/>
      <text/>
    </choice>
  </define>
  <define name="mo.attributes" combine="choice">
    <optional>
      <attribute name="linebreak">
        <choice>
          <value>auto</value>
          <value>newline</value>
          <value>nobreak</value>
          <value>goodbreak</value>
          <value>badbreak</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="lineleading">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="linebreakstyle">
        <choice>
          <value>before</value>
          <value>after</value>
          <value>duplicate</value>
          <value>infixlinebreakstyle</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="linebreakmultchar"/>
    </optional>
    <optional>
      <attribute name="indentalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>auto</value>
          <value>id</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentshift">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="indenttarget">
        <ref name="idref"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentalignfirst">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>auto</value>
          <value>id</value>
          <value>indentalign</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentshiftfirst">
        <choice>
          <ref name="length"/>
          <value>indentshift</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentalignlast">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>auto</value>
          <value>id</value>
          <value>indentalign</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentshiftlast">
        <choice>
          <ref name="length"/>
          <value>indentshift</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="accent">
        <ref name="mathml-boolean"/>
      </attribute>
    </optional>
  </define>
  <define name="mspace.attributes" combine="choice">
    <optional>
      <attribute name="linebreak">
        <choice>
          <value>auto</value>
          <value>newline</value>
          <value>nobreak</value>
          <value>goodbreak</value>
          <value>badbreak</value>
          <value>indentingnewline</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>auto</value>
          <value>id</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentshift">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="indenttarget">
        <ref name="idref"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentalignfirst">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>auto</value>
          <value>id</value>
          <value>indentalign</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentshiftfirst">
        <choice>
          <ref name="length"/>
          <value>indentshift</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentalignlast">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>auto</value>
          <value>id</value>
          <value>indentalign</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentshiftlast">
        <choice>
          <ref name="length"/>
          <value>indentshift</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="ms.attributes" combine="choice">
    <optional>
      <attribute name="lquote"/>
    </optional>
    <optional>
      <attribute name="rquote"/>
    </optional>
  </define>
  <define name="mglyph">
    <element name="mglyph">
      <ref name="mglyph.attributes"/>
      <ref name="mglyph.deprecatedattributes"/>
      <empty/>
    </element>
  </define>
  <define name="mglyph.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="src">
        <data type="anyURI"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="width">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="height">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="valign">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="alt"/>
    </optional>
  </define>
  <define name="mglyph.deprecatedattributes">
    <optional>
      <attribute name="index">
        <ref name="integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mathvariant">
        <choice>
          <value>normal</value>
          <value>bold</value>
          <value>italic</value>
          <value>bold-italic</value>
          <value>double-struck</value>
          <value>bold-fraktur</value>
          <value>script</value>
          <value>bold-script</value>
          <value>fraktur</value>
          <value>sans-serif</value>
          <value>bold-sans-serif</value>
          <value>sans-serif-italic</value>
          <value>sans-serif-bold-italic</value>
          <value>monospace</value>
          <value>initial</value>
          <value>tailed</value>
          <value>looped</value>
          <value>stretched</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="mathsize">
        <choice>
          <value>small</value>
          <value>normal</value>
          <value>big</value>
          <ref name="length"/>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="msline">
    <element name="msline">
      <ref name="msline.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="msline.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="position">
        <ref name="integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="length">
        <ref name="unsigned-integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="leftoverhang">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rightoverhang">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mslinethickness">
        <choice>
          <ref name="length"/>
          <value>thin</value>
          <value>medium</value>
          <value>thick</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="MalignExpression">
    <choice>
      <ref name="maligngroup"/>
      <ref name="malignmark"/>
    </choice>
  </define>
  <define name="malignmark">
    <element name="malignmark">
      <ref name="malignmark.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="malignmark.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="edge">
        <choice>
          <value>left</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="maligngroup">
    <element name="maligngroup">
      <ref name="maligngroup.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="maligngroup.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="groupalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>decimalpoint</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="PresentationExpression">
    <choice>
      <ref name="TokenExpression"/>
      <ref name="MalignExpression"/>
      <ref name="mrow"/>
      <ref name="mfrac"/>
      <ref name="msqrt"/>
      <ref name="mroot"/>
      <ref name="mstyle"/>
      <ref name="merror"/>
      <ref name="mpadded"/>
      <ref name="mphantom"/>
      <ref name="mfenced"/>
      <ref name="menclose"/>
      <ref name="msub"/>
      <ref name="msup"/>
      <ref name="msubsup"/>
      <ref name="munder"/>
      <ref name="mover"/>
      <ref name="munderover"/>
      <ref name="mmultiscripts"/>
      <ref name="mtable"/>
      <ref name="mstack"/>
      <ref name="mlongdiv"/>
      <ref name="maction"/>
    </choice>
  </define>
  <define name="mfrac.attributes" combine="choice">
    <optional>
      <attribute name="numalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="denomalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="bevelled">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="mstyle.attributes" combine="choice">
    <ref name="mstyle.specificattributes"/>
    <ref name="mstyle.generalattributes"/>
    <ref name="mstyle.deprecatedattributes"/>
  </define>
  <define name="mstyle.specificattributes">
    <optional>
      <attribute name="scriptlevel">
        <ref name="integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="displaystyle">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="scriptsizemultiplier">
        <ref name="number"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="scriptminsize">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="infixlinebreakstyle">
        <choice>
          <value>before</value>
          <value>after</value>
          <value>duplicate</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="decimalpoint">
        <ref name="character"/>
      </attribute>
    </optional>
  </define>
  <define name="mstyle.generalattributes">
    <optional>
      <attribute name="accent">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="accentunder">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="alignmentscope">
        <list>
          <oneOrMore>
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="bevelled">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="charalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="charspacing">
        <choice>
          <ref name="length"/>
          <value>loose</value>
          <value>medium</value>
          <value>tight</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="close"/>
    </optional>
    <optional>
      <attribute name="columnalign">
        <list>
          <oneOrMore>
            <ref name="columnalignstyle"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="columnlines">
        <list>
          <oneOrMore>
            <ref name="linestyle"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="columnspacing">
        <list>
          <oneOrMore>
            <ref name="length"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="columnspan">
        <ref name="positive-integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="columnwidth">
        <list>
          <oneOrMore>
            <choice>
              <value>auto</value>
              <ref name="length"/>
              <value>fit</value>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="crossout">
        <list>
          <zeroOrMore>
            <choice>
              <value>none</value>
              <value>updiagonalstrike</value>
              <value>downdiagonalstrike</value>
              <value>verticalstrike</value>
              <value>horizontalstrike</value>
            </choice>
          </zeroOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="denomalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="depth">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="dir">
        <choice>
          <value>ltr</value>
          <value>rtl</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="edge">
        <choice>
          <value>left</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="equalcolumns">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="equalrows">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="fence">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="form">
        <choice>
          <value>prefix</value>
          <value>infix</value>
          <value>postfix</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="frame">
        <ref name="linestyle"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="framespacing">
        <list>
          <ref name="length"/>
          <ref name="length"/>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="groupalign">
        <ref name="group-alignment-list-list"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="height">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>auto</value>
          <value>id</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentalignfirst">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>auto</value>
          <value>id</value>
          <value>indentalign</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentalignlast">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>auto</value>
          <value>id</value>
          <value>indentalign</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentshift">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentshiftfirst">
        <choice>
          <ref name="length"/>
          <value>indentshift</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentshiftlast">
        <choice>
          <ref name="length"/>
          <value>indentshift</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indenttarget">
        <ref name="idref"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="largeop">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="leftoverhang">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="length">
        <ref name="unsigned-integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="linebreak">
        <choice>
          <value>auto</value>
          <value>newline</value>
          <value>nobreak</value>
          <value>goodbreak</value>
          <value>badbreak</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="linebreakmultchar"/>
    </optional>
    <optional>
      <attribute name="linebreakstyle">
        <choice>
          <value>before</value>
          <value>after</value>
          <value>duplicate</value>
          <value>infixlinebreakstyle</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="lineleading">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="linethickness">
        <choice>
          <ref name="length"/>
          <value>thin</value>
          <value>medium</value>
          <value>thick</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="location">
        <choice>
          <value>w</value>
          <value>nw</value>
          <value>n</value>
          <value>ne</value>
          <value>e</value>
          <value>se</value>
          <value>s</value>
          <value>sw</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="longdivstyle">
        <choice>
          <value>lefttop</value>
          <value>stackedrightright</value>
          <value>mediumstackedrightright</value>
          <value>shortstackedrightright</value>
          <value>righttop</value>
          <value>left/\right</value>
          <value>left)(right</value>
          <value>:right=right</value>
          <value>stackedleftleft</value>
          <value>stackedleftlinetop</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="lquote"/>
    </optional>
    <optional>
      <attribute name="lspace">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mathsize">
        <choice>
          <value>small</value>
          <value>normal</value>
          <value>big</value>
          <ref name="length"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="mathvariant">
        <choice>
          <value>normal</value>
          <value>bold</value>
          <value>italic</value>
          <value>bold-italic</value>
          <value>double-struck</value>
          <value>bold-fraktur</value>
          <value>script</value>
          <value>bold-script</value>
          <value>fraktur</value>
          <value>sans-serif</value>
          <value>bold-sans-serif</value>
          <value>sans-serif-italic</value>
          <value>sans-serif-bold-italic</value>
          <value>monospace</value>
          <value>initial</value>
          <value>tailed</value>
          <value>looped</value>
          <value>stretched</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="maxsize">
        <choice>
          <ref name="length"/>
          <value>infinity</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="minlabelspacing">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="minsize">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="movablelimits">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="mslinethickness">
        <choice>
          <ref name="length"/>
          <value>thin</value>
          <value>medium</value>
          <value>thick</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="notation"/>
    </optional>
    <optional>
      <attribute name="numalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="open"/>
    </optional>
    <optional>
      <attribute name="position">
        <ref name="integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rightoverhang">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowalign">
        <list>
          <oneOrMore>
            <ref name="verticalalign"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowlines">
        <list>
          <oneOrMore>
            <ref name="linestyle"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowspacing">
        <list>
          <oneOrMore>
            <ref name="length"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowspan">
        <ref name="positive-integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rquote"/>
    </optional>
    <optional>
      <attribute name="rspace">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="selection">
        <ref name="positive-integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="separator">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="separators"/>
    </optional>
    <optional>
      <attribute name="shift">
        <ref name="integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="side">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>leftoverlap</value>
          <value>rightoverlap</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="stackalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>decimalpoint</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="stretchy">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="subscriptshift">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="superscriptshift">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="symmetric">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="valign">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="width">
        <ref name="length"/>
      </attribute>
    </optional>
  </define>
  <define name="mstyle.deprecatedattributes">
    <optional>
      <attribute name="veryverythinmathspace">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="verythinmathspace">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="thinmathspace">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mediummathspace">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="thickmathspace">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="verythickmathspace">
        <ref name="length"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="veryverythickmathspace">
        <ref name="length"/>
      </attribute>
    </optional>
  </define>
  <define name="math.attributes" combine="interleave">
    <ref name="mstyle.specificattributes"/>
  </define>
  <define name="math.attributes" combine="interleave">
    <ref name="mstyle.generalattributes"/>
  </define>
  <define name="mfenced">
    <element name="mfenced">
      <ref name="mfenced.attributes"/>
      <zeroOrMore>
        <ref name="MathExpression"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="mfenced.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="open"/>
    </optional>
    <optional>
      <attribute name="close"/>
    </optional>
    <optional>
      <attribute name="separators"/>
    </optional>
  </define>
  <define name="menclose">
    <element name="menclose">
      <ref name="menclose.attributes"/>
      <ref name="ImpliedMrow"/>
    </element>
  </define>
  <define name="menclose.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="notation"/>
    </optional>
  </define>
  <define name="munder.attributes" combine="choice">
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="mover.attributes" combine="choice">
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="munderover.attributes" combine="choice">
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="mtable.attributes" combine="choice">
    <optional>
      <attribute name="align">
        <data type="string">
          <param name="pattern">\s*(top|bottom|center|baseline|axis)(\s+-?[0-9]+)?\s*</param>
        </data>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowalign">
        <list>
          <oneOrMore>
            <ref name="verticalalign"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="columnalign">
        <list>
          <oneOrMore>
            <ref name="columnalignstyle"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="groupalign">
        <ref name="group-alignment-list-list"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="alignmentscope">
        <list>
          <oneOrMore>
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="columnwidth">
        <list>
          <oneOrMore>
            <choice>
              <value>auto</value>
              <ref name="length"/>
              <value>fit</value>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="width">
        <choice>
          <value>auto</value>
          <ref name="length"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowspacing">
        <list>
          <oneOrMore>
            <ref name="length"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="columnspacing">
        <list>
          <oneOrMore>
            <ref name="length"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowlines">
        <list>
          <oneOrMore>
            <ref name="linestyle"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="columnlines">
        <list>
          <oneOrMore>
            <ref name="linestyle"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="frame">
        <ref name="linestyle"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="framespacing">
        <list>
          <ref name="length"/>
          <ref name="length"/>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="equalrows">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="equalcolumns">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="displaystyle">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="side">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>leftoverlap</value>
          <value>rightoverlap</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="minlabelspacing">
        <ref name="length"/>
      </attribute>
    </optional>
  </define>
  <define name="mlabeledtr">
    <element name="mlabeledtr">
      <ref name="mlabeledtr.attributes"/>
      <oneOrMore>
        <ref name="mtd"/>
      </oneOrMore>
    </element>
  </define>
  <define name="mlabeledtr.attributes">
    <ref name="mtr.attributes"/>
  </define>
  <define name="mtr.attributes" combine="choice">
    <optional>
      <attribute name="rowalign">
        <choice>
          <value>top</value>
          <value>bottom</value>
          <value>center</value>
          <value>baseline</value>
          <value>axis</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="columnalign">
        <list>
          <oneOrMore>
            <ref name="columnalignstyle"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="groupalign">
        <ref name="group-alignment-list-list"/>
      </attribute>
    </optional>
  </define>
  <define name="mtd.attributes" combine="choice">
    <optional>
      <attribute name="rowalign">
        <choice>
          <value>top</value>
          <value>bottom</value>
          <value>center</value>
          <value>baseline</value>
          <value>axis</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="columnalign">
        <ref name="columnalignstyle"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="groupalign">
        <ref name="group-alignment-list"/>
      </attribute>
    </optional>
  </define>
  <define name="mstack">
    <element name="mstack">
      <ref name="mstack.attributes"/>
      <zeroOrMore>
        <ref name="MstackExpression"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="mstack.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="align">
        <data type="string">
          <param name="pattern">\s*(top|bottom|center|baseline|axis)(\s+-?[0-9]+)?\s*</param>
        </data>
      </attribute>
    </optional>
    <optional>
      <attribute name="stackalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>decimalpoint</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="charalign">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="charspacing">
        <choice>
          <ref name="length"/>
          <value>loose</value>
          <value>medium</value>
          <value>tight</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="mlongdiv">
    <element name="mlongdiv">
      <ref name="mlongdiv.attributes"/>
      <ref name="MstackExpression"/>
      <ref name="MstackExpression"/>
      <oneOrMore>
        <ref name="MstackExpression"/>
      </oneOrMore>
    </element>
  </define>
  <define name="mlongdiv.attributes">
    <ref name="msgroup.attributes"/>
    <optional>
      <attribute name="longdivstyle">
        <choice>
          <value>lefttop</value>
          <value>stackedrightright</value>
          <value>mediumstackedrightright</value>
          <value>shortstackedrightright</value>
          <value>righttop</value>
          <value>left/\right</value>
          <value>left)(right</value>
          <value>:right=right</value>
          <value>stackedleftleft</value>
          <value>stackedleftlinetop</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="msgroup">
    <element name="msgroup">
      <ref name="msgroup.attributes"/>
      <zeroOrMore>
        <ref name="MstackExpression"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="msgroup.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="position">
        <ref name="integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="shift">
        <ref name="integer"/>
      </attribute>
    </optional>
  </define>
  <define name="msrow">
    <element name="msrow">
      <ref name="msrow.attributes"/>
      <zeroOrMore>
        <ref name="MsrowExpression"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="msrow.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="position">
        <ref name="integer"/>
      </attribute>
    </optional>
  </define>
  <define name="mscarries">
    <element name="mscarries">
      <ref name="mscarries.attributes"/>
      <zeroOrMore>
        <choice>
          <ref name="MsrowExpression"/>
          <ref name="mscarry"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="mscarries.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="position">
        <ref name="integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="location">
        <choice>
          <value>w</value>
          <value>nw</value>
          <value>n</value>
          <value>ne</value>
          <value>e</value>
          <value>se</value>
          <value>s</value>
          <value>sw</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="crossout">
        <list>
          <zeroOrMore>
            <choice>
              <value>none</value>
              <value>updiagonalstrike</value>
              <value>downdiagonalstrike</value>
              <value>verticalstrike</value>
              <value>horizontalstrike</value>
            </choice>
          </zeroOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="scriptsizemultiplier">
        <ref name="number"/>
      </attribute>
    </optional>
  </define>
  <define name="mscarry">
    <element name="mscarry">
      <ref name="mscarry.attributes"/>
      <zeroOrMore>
        <ref name="MsrowExpression"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="mscarry.attributes">
    <ref name="GlobalAttributes"/>
    <optional>
      <attribute name="location">
        <choice>
          <value>w</value>
          <value>nw</value>
          <value>n</value>
          <value>ne</value>
          <value>e</value>
          <value>se</value>
          <value>s</value>
          <value>sw</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="crossout">
        <list>
          <zeroOrMore>
            <choice>
              <value>none</value>
              <value>updiagonalstrike</value>
              <value>downdiagonalstrike</value>
              <value>verticalstrike</value>
              <value>horizontalstrike</value>
            </choice>
          </zeroOrMore>
        </list>
      </attribute>
    </optional>
  </define>
</grammar>
