xsd/mathml4-presentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://www.w3.org/1998/Math/MathML"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.w3.org/1998/Math/MathML">
   <xs:include schemaLocation="mathml4-core.xsd"/>
   <xs:simpleType name="mpadded-length-percentage">
      <xs:restriction base="xs:string">
         <xs:pattern value="\s*([\+\-]?[0-9]*([0-9]\.?|\.[0-9])[0-9]*\s*((%?\s*(height|depth|width)?)|r?em|ex|in|cm|mm|p[xtc]|Q|v[hw]|vmin|vmax|%|((negative)?((very){0,2}thi(n|ck)|medium)mathspace))?)\s*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:group name="MstackExpression">
      <xs:choice>
         <xs:group ref="m:MathMalignExpression"/>
         <xs:element ref="m:mscarries"/>
         <xs:element ref="m:msline"/>
         <xs:element ref="m:msrow"/>
         <xs:element ref="m:msgroup"/>
      </xs:choice>
   </xs:group>
   <xs:group name="MsrowExpression">
      <xs:choice>
         <xs:group ref="m:MathMalignExpression"/>
         <xs:element ref="m:none"/>
      </xs:choice>
   </xs:group>
   <xs:simpleType name="linestyle">
      <xs:restriction base="xs:token">
         <xs:enumeration value="none"/>
         <xs:enumeration value="solid"/>
         <xs:enumeration value="dashed"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="verticalalign">
      <xs:restriction base="xs:token">
         <xs:enumeration value="top"/>
         <xs:enumeration value="bottom"/>
         <xs:enumeration value="center"/>
         <xs:enumeration value="baseline"/>
         <xs:enumeration value="axis"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="columnalignstyle">
      <xs:restriction base="xs:token">
         <xs:enumeration value="left"/>
         <xs:enumeration value="center"/>
         <xs:enumeration value="right"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="notationstyle">
      <xs:restriction base="xs:token">
         <xs:enumeration value="longdiv"/>
         <xs:enumeration value="actuarial"/>
         <xs:enumeration value="radical"/>
         <xs:enumeration value="box"/>
         <xs:enumeration value="roundedbox"/>
         <xs:enumeration value="circle"/>
         <xs:enumeration value="left"/>
         <xs:enumeration value="right"/>
         <xs:enumeration value="top"/>
         <xs:enumeration value="bottom"/>
         <xs:enumeration value="updiagonalstrike"/>
         <xs:enumeration value="downdiagonalstrike"/>
         <xs:enumeration value="verticalstrike"/>
         <xs:enumeration value="horizontalstrike"/>
         <xs:enumeration value="madruwb"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="unsigned-integer">
      <xs:restriction base="xs:unsignedLong"/>
   </xs:simpleType>
   <xs:simpleType name="integer">
      <xs:restriction base="xs:integer"/>
   </xs:simpleType>
   <xs:simpleType name="number">
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>
   <xs:simpleType name="character">
      <xs:restriction base="xs:string">
         <xs:pattern value="\s*\S\s*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="positive-integer">
      <xs:restriction base="xs:positiveInteger"/>
   </xs:simpleType>
   <xs:element name="mglyph">
      <xs:complexType>
         <xs:attributeGroup ref="m:mglyph.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mglyph.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="src" type="xs:anyURI"/>
      <xs:attribute name="width" type="m:length-percentage"/>
      <xs:attribute name="height" type="m:length-percentage"/>
      <xs:attribute name="valign" type="m:length-percentage"/>
      <xs:attribute name="alt"/>
      <xs:attributeGroup ref="m:mglyph.deprecatedattributes"/>
      <xs:attributeGroup ref="m:DeprecatedTokenAtt"/>
   </xs:attributeGroup>
   <xs:element name="msline">
      <xs:complexType>
         <xs:attributeGroup ref="m:msline.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="msline.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="position" type="m:integer"/>
      <xs:attribute name="length" type="m:unsigned-integer"/>
      <xs:attribute name="leftoverhang" type="m:length-percentage"/>
      <xs:attribute name="rightoverhang" type="m:length-percentage"/>
      <xs:attribute name="mslinethickness">
         <xs:simpleType>
            <xs:union memberTypes="m:length-percentage">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thin"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thick"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="MalignExpression" abstract="true"/>
   <xs:element name="malignmark" substitutionGroup="m:MalignExpression">
      <xs:complexType>
         <xs:attributeGroup ref="m:malignmark.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="malignmark.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="edge">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="maligngroup" substitutionGroup="m:MalignExpression">
      <xs:complexType>
         <xs:attributeGroup ref="m:maligngroup.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="maligngroup.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="groupalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="decimalpoint"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="PresentationExpression" abstract="true"/>
   <xs:attributeGroup name="mstyle.specificattributes">
      <xs:attribute name="scriptsizemultiplier" type="m:number"/>
      <xs:attribute name="scriptminsize" type="m:length-percentage"/>
      <xs:attribute name="infixlinebreakstyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="before"/>
               <xs:enumeration value="after"/>
               <xs:enumeration value="duplicate"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="decimalpoint" type="m:character"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="mstyle.generalattributes">
      <xs:attribute name="accent" type="m:mathml-boolean"/>
      <xs:attribute name="accentunder" type="m:mathml-boolean"/>
      <xs:attribute name="align">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="center"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="alignmentscope">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list>
                     <xs:simpleType>
                        <xs:restriction base="xs:token">
                           <xs:enumeration value="true"/>
                           <xs:enumeration value="false"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:list>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bevelled" type="m:mathml-boolean"/>
      <xs:attribute name="charalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="charspacing">
         <xs:simpleType>
            <xs:union memberTypes="m:length-percentage">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="loose"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="tight"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="close"/>
      <xs:attribute name="columnalign">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="m:columnalignstyle"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnlines">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="m:linestyle"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnspacing">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="m:length-percentage"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnspan" type="m:positive-integer"/>
      <xs:attribute name="columnwidth">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list>
                     <xs:simpleType>
                        <xs:union memberTypes="m:length-percentage">
                           <xs:simpleType>
                              <xs:restriction base="xs:token">
                                 <xs:enumeration value="auto"/>
                              </xs:restriction>
                           </xs:simpleType>
                           <xs:simpleType>
                              <xs:restriction base="xs:token">
                                 <xs:enumeration value="fit"/>
                              </xs:restriction>
                           </xs:simpleType>
                        </xs:union>
                     </xs:simpleType>
                  </xs:list>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="crossout">
         <xs:simpleType>
            <xs:list>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="none"/>
                     <xs:enumeration value="updiagonalstrike"/>
                     <xs:enumeration value="downdiagonalstrike"/>
                     <xs:enumeration value="verticalstrike"/>
                     <xs:enumeration value="horizontalstrike"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:list>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="denomalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="depth" type="m:length-percentage"/>
      <xs:attribute name="dir">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="ltr"/>
               <xs:enumeration value="rtl"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="equalcolumns" type="m:mathml-boolean"/>
      <xs:attribute name="equalrows" type="m:mathml-boolean"/>
      <xs:attribute name="form">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="prefix"/>
               <xs:enumeration value="infix"/>
               <xs:enumeration value="postfix"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="frame" type="m:linestyle"/>
      <xs:attribute name="framespacing">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list>
                     <xs:simpleType>
                        <xs:union memberTypes="m:length-percentage m:length-percentage"/>
                     </xs:simpleType>
                  </xs:list>
               </xs:simpleType>
               <xs:length value="2"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="height" type="m:length-percentage"/>
      <xs:attribute name="indentalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentalignfirst">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
               <xs:enumeration value="indentalign"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentalignlast">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
               <xs:enumeration value="indentalign"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentshift" type="m:length-percentage"/>
      <xs:attribute name="indentshiftfirst">
         <xs:simpleType>
            <xs:union memberTypes="m:length-percentage">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="indentshift"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentshiftlast">
         <xs:simpleType>
            <xs:union memberTypes="m:length-percentage">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="indentshift"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indenttarget"/>
      <xs:attribute name="largeop" type="m:mathml-boolean"/>
      <xs:attribute name="leftoverhang" type="m:length-percentage"/>
      <xs:attribute name="length" type="m:unsigned-integer"/>
      <xs:attribute name="linebreak">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="auto"/>
               <xs:enumeration value="newline"/>
               <xs:enumeration value="nobreak"/>
               <xs:enumeration value="goodbreak"/>
               <xs:enumeration value="badbreak"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="linebreakmultchar"/>
      <xs:attribute name="linebreakstyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="before"/>
               <xs:enumeration value="after"/>
               <xs:enumeration value="duplicate"/>
               <xs:enumeration value="infixlinebreakstyle"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lineleading" type="m:length-percentage"/>
      <xs:attribute name="linethickness">
         <xs:simpleType>
            <xs:union memberTypes="m:length-percentage">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thin"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thick"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="location">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="w"/>
               <xs:enumeration value="nw"/>
               <xs:enumeration value="n"/>
               <xs:enumeration value="ne"/>
               <xs:enumeration value="e"/>
               <xs:enumeration value="se"/>
               <xs:enumeration value="s"/>
               <xs:enumeration value="sw"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="longdivstyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="lefttop"/>
               <xs:enumeration value="stackedrightright"/>
               <xs:enumeration value="mediumstackedrightright"/>
               <xs:enumeration value="shortstackedrightright"/>
               <xs:enumeration value="righttop"/>
               <xs:enumeration value="left/\right"/>
               <xs:enumeration value="left)(right"/>
               <xs:enumeration value=":right=right"/>
               <xs:enumeration value="stackedleftleft"/>
               <xs:enumeration value="stackedleftlinetop"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lquote"/>
      <xs:attribute name="lspace" type="m:length-percentage"/>
      <xs:attribute name="mathsize">
         <xs:simpleType>
            <xs:union memberTypes="m:length-percentage">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="small"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="normal"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="big"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mathvariant">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="normal"/>
               <xs:enumeration value="bold"/>
               <xs:enumeration value="italic"/>
               <xs:enumeration value="bold-italic"/>
               <xs:enumeration value="double-struck"/>
               <xs:enumeration value="bold-fraktur"/>
               <xs:enumeration value="script"/>
               <xs:enumeration value="bold-script"/>
               <xs:enumeration value="fraktur"/>
               <xs:enumeration value="sans-serif"/>
               <xs:enumeration value="bold-sans-serif"/>
               <xs:enumeration value="sans-serif-italic"/>
               <xs:enumeration value="sans-serif-bold-italic"/>
               <xs:enumeration value="monospace"/>
               <xs:enumeration value="initial"/>
               <xs:enumeration value="tailed"/>
               <xs:enumeration value="looped"/>
               <xs:enumeration value="stretched"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="minlabelspacing" type="m:length-percentage"/>
      <xs:attribute name="minsize" type="m:length-percentage"/>
      <xs:attribute name="movablelimits" type="m:mathml-boolean"/>
      <xs:attribute name="mslinethickness">
         <xs:simpleType>
            <xs:union memberTypes="m:length-percentage">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thin"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thick"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="notation"/>
      <xs:attribute name="numalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="open"/>
      <xs:attribute name="position" type="m:integer"/>
      <xs:attribute name="rightoverhang" type="m:length-percentage"/>
      <xs:attribute name="rowalign">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="m:verticalalign"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowlines">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="m:linestyle"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowspacing">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="m:length-percentage"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowspan" type="m:positive-integer"/>
      <xs:attribute name="rquote"/>
      <xs:attribute name="rspace" type="m:length-percentage"/>
      <xs:attribute name="selection" type="m:positive-integer"/>
      <xs:attribute name="separators"/>
      <xs:attribute name="shift" type="m:integer"/>
      <xs:attribute name="side">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="leftoverlap"/>
               <xs:enumeration value="rightoverlap"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="stackalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="decimalpoint"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="stretchy" type="m:mathml-boolean"/>
      <xs:attribute name="subscriptshift" type="m:length-percentage"/>
      <xs:attribute name="superscriptshift" type="m:length-percentage"/>
      <xs:attribute name="symmetric" type="m:mathml-boolean"/>
      <xs:attribute name="valign" type="m:length-percentage"/>
      <xs:attribute name="width" type="m:length-percentage"/>
      <xs:attribute name="edge">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="groupalign" type="m:group-alignment-list-list"/>
   </xs:attributeGroup>
   <xs:element name="mfenced" substitutionGroup="m:PresentationExpression">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="m:ImpliedMrow">
               <xs:attributeGroup ref="m:mfenced.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mfenced.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="open"/>
      <xs:attribute name="close"/>
      <xs:attribute name="separators"/>
   </xs:attributeGroup>
   <xs:element name="menclose" substitutionGroup="m:PresentationExpression">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="m:ImpliedMrow">
               <xs:attributeGroup ref="m:menclose.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="menclose.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="notation"/>
   </xs:attributeGroup>
   <xs:element name="mstack" substitutionGroup="m:PresentationExpression">
      <xs:complexType>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="m:MstackExpression"/>
         <xs:attributeGroup ref="m:mstack.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mstack.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="align">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:pattern value="\s*(top|bottom|center|baseline|axis)(\s+-?[0-9]+)?\s*"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="stackalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="decimalpoint"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="charalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="charspacing">
         <xs:simpleType>
            <xs:union memberTypes="m:length-percentage">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="loose"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="tight"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="mlongdiv" substitutionGroup="m:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="m:MstackExpression"/>
            <xs:group ref="m:MstackExpression"/>
            <xs:group maxOccurs="unbounded" ref="m:MstackExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="m:mlongdiv.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mlongdiv.attributes">
      <xs:attributeGroup ref="m:msgroup.attributes"/>
      <xs:attribute name="longdivstyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="lefttop"/>
               <xs:enumeration value="stackedrightright"/>
               <xs:enumeration value="mediumstackedrightright"/>
               <xs:enumeration value="shortstackedrightright"/>
               <xs:enumeration value="righttop"/>
               <xs:enumeration value="left/\right"/>
               <xs:enumeration value="left)(right"/>
               <xs:enumeration value=":right=right"/>
               <xs:enumeration value="stackedleftleft"/>
               <xs:enumeration value="stackedleftlinetop"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="msgroup">
      <xs:complexType>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="m:MstackExpression"/>
         <xs:attributeGroup ref="m:msgroup.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="msgroup.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="position" type="m:integer"/>
      <xs:attribute name="shift" type="m:integer"/>
   </xs:attributeGroup>
   <xs:element name="msrow">
      <xs:complexType>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="m:MsrowExpression"/>
         <xs:attributeGroup ref="m:msrow.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="msrow.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="position" type="m:integer"/>
   </xs:attributeGroup>
   <xs:element name="mscarries">
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="m:MsrowExpression"/>
            <xs:element ref="m:mscarry"/>
         </xs:choice>
         <xs:attributeGroup ref="m:mscarries.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mscarries.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="position" type="m:integer"/>
      <xs:attribute name="location">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="w"/>
               <xs:enumeration value="nw"/>
               <xs:enumeration value="n"/>
               <xs:enumeration value="ne"/>
               <xs:enumeration value="e"/>
               <xs:enumeration value="se"/>
               <xs:enumeration value="s"/>
               <xs:enumeration value="sw"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="crossout">
         <xs:simpleType>
            <xs:list>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="none"/>
                     <xs:enumeration value="updiagonalstrike"/>
                     <xs:enumeration value="downdiagonalstrike"/>
                     <xs:enumeration value="verticalstrike"/>
                     <xs:enumeration value="horizontalstrike"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:list>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="scriptsizemultiplier" type="m:number"/>
   </xs:attributeGroup>
   <xs:element name="mscarry">
      <xs:complexType>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="m:MsrowExpression"/>
         <xs:attributeGroup ref="m:mscarry.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mscarry.attributes">
      <xs:attributeGroup ref="m:MathMLPGlobalAttributes"/>
      <xs:attribute name="location">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="w"/>
               <xs:enumeration value="nw"/>
               <xs:enumeration value="n"/>
               <xs:enumeration value="ne"/>
               <xs:enumeration value="e"/>
               <xs:enumeration value="se"/>
               <xs:enumeration value="s"/>
               <xs:enumeration value="sw"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="crossout">
         <xs:simpleType>
            <xs:list>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="none"/>
                     <xs:enumeration value="updiagonalstrike"/>
                     <xs:enumeration value="downdiagonalstrike"/>
                     <xs:enumeration value="verticalstrike"/>
                     <xs:enumeration value="horizontalstrike"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:list>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
</xs:schema>
