rnc/mathml4-core.rnc

default namespace m = "http://www.w3.org/1998/Math/MathML"

start = math

math = element math {math.attributes,MathExpression*}

htmloneventattributes =
  attribute onabort {text}?,
  attribute onauxclick {text}?,
  attribute onblur {text}?,
  attribute oncancel {text}?,
  attribute oncanplay {text}?,
  attribute oncanplaythrough {text}?,
  attribute onchange {text}?,
  attribute onclick {text}?,
  attribute onclose {text}?,
  attribute oncontextlost {text}?,
  attribute oncontextmenu {text}?,
  attribute oncontextrestored {text}?,
  attribute oncuechange {text}?,
  attribute ondblclick {text}?,
  attribute ondrag {text}?,
  attribute ondragend {text}?,
  attribute ondragenter {text}?,
  attribute ondragleave {text}?,
  attribute ondragover {text}?,
  attribute ondragstart {text}?,
  attribute ondrop {text}?,
  attribute ondurationchange {text}?,
  attribute onemptied {text}?,
  attribute onended {text}?,
  attribute onerror {text}?,
  attribute onfocus {text}?,
  attribute onformdata {text}?,
  attribute oninput {text}?,
  attribute oninvalid {text}?,
  attribute onkeydown {text}?,
  attribute onkeypress {text}?,
  attribute onkeyup {text}?,
  attribute onload {text}?,
  attribute onloadeddata {text}?,
  attribute onloadedmetadata {text}?,
  attribute onloadstart {text}?,
  attribute onmousedown {text}?,
  attribute onmouseenter {text}?,
  attribute onmouseleave {text}?,
  attribute onmousemove {text}?,
  attribute onmouseout {text}?,
  attribute onmouseover {text}?,
  attribute onmouseup {text}?,
  attribute onpause {text}?,
  attribute onplay {text}?,
  attribute onplaying {text}?,
  attribute onprogress {text}?,
  attribute onratechange {text}?,
  attribute onreset {text}?,
  attribute onresize {text}?,
  attribute onscroll {text}?,
  attribute onsecuritypolicyviolation {text}?,
  attribute onseeked {text}?,
  attribute onseeking {text}?,
  attribute onselect {text}?,
  attribute onslotchange {text}?,
  attribute onstalled {text}?,
  attribute onsubmit {text}?,
  attribute onsuspend {text}?,
  attribute ontimeupdate {text}?,
  attribute ontoggle {text}?,
  attribute onvolumechange {text}?,
  attribute onwaiting {text}?,
  attribute onwebkitanimationend {text}?,
  attribute onwebkitanimationiteration {text}?,
  attribute onwebkitanimationstart {text}?,
  attribute onwebkittransitionend {text}?,
  attribute onwheel {text}?,
  attribute onafterprint {text}?,
  attribute onbeforeprint {text}?,
  attribute onbeforeunload {text}?,
  attribute onhashchange {text}?,
  attribute onlanguagechange {text}?,
  attribute onmessage {text}?,
  attribute onmessageerror {text}?,
  attribute onoffline {text}?,
  attribute ononline {text}?,
  attribute onpagehide {text}?,
  attribute onpageshow {text}?,
  attribute onpopstate {text}?,
  attribute onrejectionhandled {text}?,
  attribute onstorage {text}?,
  attribute onunhandledrejection {text}?,
  attribute onunload {text}?,
  attribute oncopy {text}?,
  attribute oncut {text}?,
  attribute onpaste {text}?


GlobalAttributes = attribute id {xsd:ID}?,
                   attribute class {xsd:NMTOKENS}?,
                   attribute style {xsd:string}?,
                   attribute href {xsd:anyURI}?,
                   attribute dir {"ltr" | "rtl"}?,
                   attribute mathbackground {color | "transparent"}?,
                   attribute mathcolor {color}?,
                   attribute mathsize {length}?,
                   attribute mathvariant {xsd:string{pattern="\s*([Nn][Oo][Rr][Mm][Aa][Ll]|[Bb][Oo][Ll][Dd]|[Ii][Tt][Aa][Ll][Ii][Cc]|[Bb][Oo][Ll][Dd]-[Ii][Tt][Aa][Ll][Ii][Cc]|[Dd][Oo][Uu][Bb][Ll][Ee]-[Ss][Tt][Rr][Uu][Cc][Kk]|[Bb][Oo][Ll][Dd]-[Ff][Rr][Aa][Kk][Tt][Uu][Rr]|[Ss][Cc][Rr][Ii][Pp][Tt]|[Bb][Oo][Ll][Dd]-[Ss][Cc][Rr][Ii][Pp][Tt]|[Ff][Rr][Aa][Kk][Tt][Uu][Rr]|[Ss][Aa][Nn][Ss]-[Ss][Ee][Rr][Ii][Ff]|[Bb][Oo][Ll][Dd]-[Ss][Aa][Nn][Ss]-[Ss][Ee][Rr][Ii][Ff]|[Ss][Aa][Nn][Ss]-[Ss][Ee][Rr][Ii][Ff]-[Ii][Tt][Aa][Ll][Ii][Cc]|[Ss][Aa][Nn][Ss]-[Ss][Ee][Rr][Ii][Ff]-[Bb][Oo][Ll][Dd]-[Ii][Tt][Aa][Ll][Ii][Cc]|[Mm][Oo][Nn][Oo][Ss][Pp][Aa][Cc][Ee]|[Ii][Nn][Ii][Tt][Ii][Aa][Ll]|[Tt][Aa][Ii][Ll][Ee][Dd]|[Ll][Oo][Oo][Pp][Ee][Dd]|[Ss][Tt][Rr][Ee][Tt][Cc][Hh][Ee][Dd])\s*"}}?,
                   attribute displaystyle {mathml-boolean}?,
                   attribute scriptlevel {xsd:integer}?,
                   attribute data-extra {text}?,
                   attribute tabindex {xsd:integer}?,
                   attribute nonce {text}?,
                   htmloneventattributes
                       


math.attributes = GlobalAttributes,
                  attribute display {"block" | "inline"}?

annotation = element annotation {GlobalAttributes,text}

anyElement =  element (* - m:*) {(attribute * {text}|text| anyElement)*}

annotation-xml = element annotation-xml {GlobalAttributes,
                                         encoding?,
                                         (MathExpression*|anyElement*)}

encoding=attribute encoding {xsd:string}


semantics = element semantics {GlobalAttributes,
                               MathExpression, 
                              (annotation|annotation-xml)*}

mathml-boolean = xsd:string {
    pattern = '\s*([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])\s*'
}
			    
length = xsd:string {
  pattern = '\s*((-?[0-9]*([0-9]\.?|\.[0-9])[0-9]*(e[mx]|in|cm|mm|p[xtc]|%))|0|(negative)?((very){0,2}thi(n|ck)|medium)mathspace)\s*'
}

MathExpression = TokenExpression|
                     mrow|mfrac|msqrt|mroot|mstyle|merror|mpadded|mphantom|
                     msub|msup|msubsup|munder|mover|munderover|
                     mmultiscripts|mtable|maction

ImpliedMrow = MathExpression*

TableRowExpression = mtr

MultiScriptExpression = (MathExpression|none),(MathExpression|none)

mpadded-length = xsd:string {
  pattern = '\s*([\+\-]?[0-9]*([0-9]\.?|\.[0-9])[0-9]*\s*((%?\s*(height|depth|width)?)|e[mx]|in|cm|mm|p[xtc]|((negative)?((very){0,2}thi(n|ck)|medium)mathspace))?)\s*' }

linestyle = "none" | "solid" | "dashed"

verticalalign =
      "top" |
      "bottom" |
      "center" |
      "baseline" |
      "axis"

columnalignstyle = "left" | "center" | "right"

notationstyle =
     "longdiv" |
     "actuarial" |
     "box" |
     "roundedbox" |
     "circle" |
     "left" |
     "right" |
     "top" |
     "bottom" |
     "updiagonalstrike" |
     "downdiagonalstrike" |
     "verticalstrike" |
     "horizontalstrike" |
     "madruwb"

color =  xsd:string {
  pattern = '\s*((#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?)|[a-zA-Z]+|[a-zA-Z]+\s*\([0-9, %.]+\))\s*'}

TokenExpression = mi|mn|mo|mtext|mspace|ms

mi = element mi {mi.attributes, text}
mi.attributes = 
  GlobalAttributes

mn = element mn {mn.attributes, text}
mn.attributes = 
  GlobalAttributes

mo = element mo {mo.attributes, text}
mo.attributes = 
  GlobalAttributes,
  attribute form {"prefix" | "infix" | "postfix"}?,
  attribute fence {mathml-boolean}?,
  attribute separator {mathml-boolean}?,
  attribute lspace {length}?,
  attribute rspace {length}?,
  attribute stretchy {mathml-boolean}?,
  attribute symmetric {mathml-boolean}?,
  attribute maxsize {length | "infinity"}?,
  attribute minsize {length}?,
  attribute largeop {mathml-boolean}?,
  attribute movablelimits {mathml-boolean}?,
  attribute accent {mathml-boolean}?

mtext = element mtext {mtext.attributes, text}
mtext.attributes = 
  GlobalAttributes

mspace = element mspace {mspace.attributes, empty}
mspace.attributes = 
  GlobalAttributes,
  attribute width {length}?,
  attribute height {length}?,
  attribute depth {length}?

ms = element ms {ms.attributes, text}
ms.attributes = 
  GlobalAttributes


none = element none {none.attributes,empty}
none.attributes = 
  GlobalAttributes

mprescripts = element mprescripts {mprescripts.attributes,empty}
mprescripts.attributes = 
  GlobalAttributes

mrow = element mrow {mrow.attributes, MathExpression*}
mrow.attributes = 
  GlobalAttributes

mfrac = element mfrac {mfrac.attributes, MathExpression, MathExpression}
mfrac.attributes = 
  GlobalAttributes,
  attribute linethickness {length}?

msqrt = element msqrt {msqrt.attributes, ImpliedMrow}
msqrt.attributes = 
  GlobalAttributes

mroot = element mroot {mroot.attributes, MathExpression, MathExpression}
mroot.attributes = 
  GlobalAttributes

mstyle = element mstyle {mstyle.attributes, ImpliedMrow}
mstyle.attributes = 
  GlobalAttributes

merror = element merror {merror.attributes, ImpliedMrow}
merror.attributes = 
  GlobalAttributes

mpadded = element mpadded {mpadded.attributes, ImpliedMrow}
mpadded.attributes = 
  GlobalAttributes,
  attribute height {mpadded-length}?,
  attribute depth {mpadded-length}?,
  attribute width {mpadded-length}?,
  attribute lspace {mpadded-length}?,
  attribute voffset {mpadded-length}?

mphantom = element mphantom {mphantom.attributes, ImpliedMrow}
mphantom.attributes = 
  GlobalAttributes

      
msub = element msub {msub.attributes, MathExpression, MathExpression}
msub.attributes = 
  GlobalAttributes,
  attribute subscriptshift {length}?

msup = element msup {msup.attributes, MathExpression, MathExpression}
msup.attributes = 
  GlobalAttributes,
  attribute superscriptshift {length}?

msubsup = element msubsup {msubsup.attributes, MathExpression, MathExpression, MathExpression}
msubsup.attributes = 
  GlobalAttributes,
  attribute subscriptshift {length}?,
  attribute superscriptshift {length}?

munder = element munder {munder.attributes, MathExpression, MathExpression}
munder.attributes = 
  GlobalAttributes,
  attribute accentunder {mathml-boolean}?

mover = element mover {mover.attributes, MathExpression, MathExpression}
mover.attributes = 
  GlobalAttributes,
  attribute accent {mathml-boolean}?

munderover = element munderover {munderover.attributes, MathExpression, MathExpression, MathExpression}
munderover.attributes = 
  GlobalAttributes,
  attribute accent {mathml-boolean}?,
  attribute accentunder {mathml-boolean}?

mmultiscripts = element mmultiscripts {mmultiscripts.attributes,
                                       MathExpression,
                                       MultiScriptExpression*,
                                       (mprescripts,MultiScriptExpression*)?}
mmultiscripts.attributes = 
  msubsup.attributes

mtable = element mtable {mtable.attributes, TableRowExpression*}
mtable.attributes = 
  GlobalAttributes


mtr = element mtr {mtr.attributes, mtd*}
mtr.attributes = 
  GlobalAttributes

mtd = element mtd {mtd.attributes, ImpliedMrow}
mtd.attributes = 
  GlobalAttributes,
  attribute rowspan {xsd:positiveInteger}?,
  attribute columnspan {xsd:positiveInteger}?


maction = element maction {maction.attributes, MathExpression+}
maction.attributes = 
  GlobalAttributes,
  attribute actiontype {text},
  attribute selection {xsd:positiveInteger}?
